/* deleting extra space */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* styling header section */
.header-section{
    background-image: url("./imgs/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-section .header-content{
    color: #fff;
}
.header-section .header-content .heading h1{
    font-size: 100px;
    font-weight: 400;
    padding-bottom: 100px;
}
.header-section .header-content .card{
    display: flex;
    gap: 100px;
}
.header-section .header-content .card .content-card h2{
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: 400;
}
.header-section .header-content .card .content-card p{
    font-size: 22px;
    padding-bottom: 30px;
    color: #eee;
}
.header-section .header-content .card .content-card button{
    padding-left: 0;
    color: #f1c50e;
    border: none;
    background: none;
    cursor: pointer;
}
.header-section .header-content .card .content-card button i{
    font-size: 50px;
}
/* styling detail section */
.detail-section{
    height: 100vh;
    width: 100%;
    padding: 50px 120px;
    background-color: #141824;
    color: #fff;
    text-align: center;
    display: grid;
}
.detail-section .line-top{
    border-top: 1px solid #bbb;
}
.detail-section .detail-top{
    align-self: center;
}
.detail-section .detail-top span i{
    color: #e8eae3;
    font-size: 40px;
    padding-bottom: 20px;
}
.detail-section .detail-top h2{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 20px;
}
.detail-section .detail-top p{
    font-size: 25px;
}
.detail-section .line-bottom{
    border-bottom: 1px solid #bbb;
}
.detail-section .detail-bottom{
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}
.detail-section .detail-bottom .bottom-info-card{
    text-align: left;
}
.detail-section .detail-bottom .bottom-info-card h2{
    font-size: 30px;
    padding-bottom: 20px;
}
.detail-section .detail-bottom .bottom-info-card p{
    font-size: 20px;
    line-height: 30px;
}
/* styling access section */
.access-section{
    height: 100vh;
    width: 100%;
    padding: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    background-color: #e8eae3;
}
.access-section .left{
    align-self: center;
}
.access-section .left .content span i{
    color: #f1c50e;
    font-size: 40px;
    padding-bottom: 20px;
}
.access-section .left .content h2{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 25px;
}
.access-section .left .content p{
    font-size: 20px;
    font-weight: 400;
    color: #333;
    padding-bottom: 25px;
    line-height: 28px;
}
.access-section .left .content button{
    background: #141824;
    color: #fff;
    border-radius: 0;
    border: 1px solid #141824;
    padding: 10px 30px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}
.access-section .left .content button:hover{
    color: #141824;
    background: #fff;
}
.access-section .right{
    align-self: center;
    height: 100%;
}
.access-section .right .image{
    background-image: url("./imgs/5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.access-section .right .image img{
    width: 100%;
}
/* styling testimonial section */
.testimonial-section{
    height: 600px;
    width: 100%;
    background-color: #141824;
    padding: 50px 120px;
    color: #fff;
    text-align: center;
    display: grid;
}
.testimonial-section .line-top{
    border-top: 1px solid #bbb;
}
.testimonial-section .testimonial{
    align-self: center;
}
.testimonial-section .testimonial span i{
    color: #e8eae3;
    font-size: 40px;
    padding-bottom: 20px;
}
.testimonial-section .testimonial h2{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 20px;
}
.testimonial-section .testimonial p{
    font-size: 22px;
    padding: 0 120px 30px 120px;
}
.testimonial-section .line-bottom{
    border-bottom: 1px solid #bbb;
}
/* styling gallery section */
.gallery-section{
    height: 500px;
    width: 100%;
}
.gallery-section .gallery{
    justify-content: center;
    height: 500p;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery-section .gallery .image{
    height: 500px;
}
.gallery-section .gallery .image img{
    width: 100%;
    height: 100%;
}
/* styling sign up section */
.sign-up-section{
    height: 100vh;
    width: 100%;
    padding: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    background-color: #e8eae3;
}
.sign-up-section .left{
    align-self: center;
    height: 100%;
}
.sign-up-section .left .image{
    background-image: url("./imgs/2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.sign-up-section .left .image img{
    width: 100%;
}
.sign-up-section .right{
    align-self: center;
}
.sign-up-section .right .content{
    display: grid;
    grid-gap: 50px;
}
.sign-up-section .right .content .top{
    align-self: center;
}
.sign-up-section .right .content .top h2{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 25px;
}
.sign-up-section .right .content .top p{
    font-size: 22px;
    font-weight: 300;
    color: #333;
    padding-bottom: 40px;
    letter-spacing: 1px;
    line-height: 30px;
}
.sign-up-section .right .content .bottom{
    align-self: center;
    display: flex;
    gap: 100px;
}
.sign-up-section .right .content .bottom .bottom-content span i{
    color: #f1c50e;
    font-size: 40px;
    padding-bottom: 10px;
}
.sign-up-section .right .content .bottom .bottom-content h2{
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 22px;
}
.sign-up-section .right .content .bottom .bottom-content p{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
}
/* styling footer section */
.footer-section{
    height: 700px;
    width: 100%;
    padding: 30px 120px 50px 120px;
    background-color: #141824;
    color: #fff;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
}
.footer-section .left{
    align-self: center;
    text-align: left;
}
.footer-section .left span i{
    color: #f1c50e;
    font-size: 40px;
}
.footer-section .left .phone i{
    padding-bottom: 30px;
    cursor: pointer;
}
.footer-section .left h2{
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 25px;
}
.footer-section .left p{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 25px;
    line-height: 30px;
    letter-spacing: 0.5px;
}
.footer-section .left .brand-logo i{
    font-size: 30px;
    padding-left: 10px;
    color: #ffb600;
    cursor: pointer;
}
.footer-section .right{
    align-self: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}
.footer-section .right .msg form input{
    width:100%;
    padding: 15px;
    font-size: 18px;
    background-color: #141824;
    color: #fff;
    border: 2px solid #bbb;
}
.footer-section .right .msg{
    padding-bottom: 20px;
}
.footer-section .right .msg form textarea{
    width:100%;
    padding: 15px;
    font-size: 18px;
    background-color: #141824;
    color: #fff;
    border: 2px solid #bbb;
}
.footer-section .right button{
    color: #141824;
    background-color: #e8eae3;
    border-radius: 0;
    border: 1px solid #fff;
    padding: 10px 30px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}
.footer-section .right button:hover{
    color: #fff;
    background: #141824;
}
/* styling for mobile responsiveness */
@media only screen and (max-width: 480px){
    /* stylig for header section part */
    .header-section{
        height: auto;
        padding: 150px 20px 20px 20px;
    }
    .header-section .header-content .heading h1{
        font-size: 60px;
    }
    .header-section .header-content .card{
        flex-direction: column;
    }
    /* styling for detail section part */
    .detail-section{
        height: auto;
        padding: 50px 20px 80px 20px;
    }
    .detail-section .line-top{
        padding-bottom: 100px;
    }
    .detail-section .detail-top h2{
        font-size: 35px;
    }
    .detail-section .line-bottom{
        padding-top: 100px;
    }
    .detail-section .detail-bottom{
        grid-template-columns: 1fr;
        padding-top: 50px;
    }
    .detail-section .detail-bottom .bottom-info-card p{
        font-size: 22px;
    }
    /* styling access section part */
    .access-section{
        height: auto;
        grid-template-columns: 1fr;
        padding: 120px 20px 120px 20px;
    }
    .access-section .left .content h2{
        font-size: 40px;
    }
    /* styling testimonial section part */
    .testimonial-section{
        height: auto;
        padding: 50px 20px;
    }
    .testimonial-section .line-top{
        padding-bottom: 100px;
    }
    .testimonial-section .testimonial p{
        padding: 0 0 50px 0;
    }
    .testimonial-section .line-bottom{
        padding-bottom: 50px;
    }
    /* styling gallery section part */
    .gallery-section{
        height: auto;
    }
    .gallery-section .gallery{
        grid-template-columns: 1fr;
    }
    /* styling sign up section part */
    .sign-up-section{
        height: auto;
        grid-template-columns: 1fr;
        padding: 120px 20px;
    }
    .sign-up-section .right .content .top h2{
        font-size: 35px;
    }
    .sign-up-section .right .content .bottom{
        flex-direction: column;
    }
    .sign-up-section .right .content .bottom .bottom-content h2{
        font-size: 35px;
    }
    /* styling footer section part */
    .footer-section{
        height: auto;
        padding: 120px 20px;
        grid-template-columns: 1fr;
    }
    .footer-section .right{
        width: 100%;
        padding: 0;
    }
}